:root {
    --color-primario: #13c08c;
    --color-secundario: #ffffff;
    --color-acento: #112fa9;
    --color-texto: #74666677;
    --color-fondo-suave: #37161611;
    --transition: all 0.4s ease;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'segoe UI', roboto, helvetica, arial, sans-serif;
    line-height: 1.6;
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-secundario);

}

header {
    background: var(--color-primario);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}